@model Cooperativa.Models.Eventos

@{
    Layout = "~/Views/Shared/AdministradorLayout.cshtml";
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalleEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalleEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.socio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.socio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.eventoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
