@model Cooperativa.Models.Depositos

@{
    Layout = "~/Views/Shared/AdministradorLayout.cshtml";
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Depositos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadDeposito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadDeposito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaDeposito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaDeposito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalleDeposito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalleDeposito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.depositoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
